<% @title = "Meet the Commissioners" %>

<p>Learn more about each commissioner by following the links provided.</p>

<div id="commissioners">
<img src="/images/commissioners/verdierSmall.jpg"  alt="JeromeVerdier" width="53" height="64" />  <a href="/about/commissioners/verdier" title="Jerome J VerdPier, Chairman">Cllr. Jerome J Verdier, Sr, Chairman </a>

<br clear="left"><br>

<img src="/images/commissioners/dolopeiSmall.jpg"  alt="DedeDolopei" width="43" height="64"  />  <a href="/about/commissioners/dolopei" title="Dede Dolopei, Vice Chairperson">Dede Dolopei, Vice Chairperson</a>

<br clear="left"><br>

<img src="/images/commissioners/syllahSmall.jpg"  alt="OumuSyllah" width="51" height="64"  />  <a href="/about/commissioners/syllah" title="Oumu K. Syllah, Treasurer">Oumu K. Syllah, Treasurer</a>
<br clear="left"><br>

<img src="/images/commissioners/kulahSmall.jpg"  alt="ArthurKulah" width="64" height="60"  />  <a href="/about/commissioners/kulah" title="Bishop Arthur F. Kulah">Bishop Arthur F. Kulah</a>
<br clear="left"><br>

<img src="/images/commissioners/konnehSmall.jpg"  alt="KafumaKonneh" width="39" height="64"  />  <a href="/about/commissioners/konneh" title="Kafumba F. Konneh">Kafumba F. Konneh</a>
<br clear="left"><br>

<img src="/images/commissioners/bullSmall.jpg"  alt="PearlBull" width="45" height="64"  />  <a href="/about/commissioners/bull" title="Cllr. Pearl Brown Bull">Cllr. Pearl Brown Bull</a>
<br clear="left"><br>

<img src="/images/commissioners/colemanSmall.jpg"  alt="GeraldColeman" width="38" height="64"  />  <a href="/about/commissioners/coleman" title="Rev. Gerald B. Coleman">Rev. Gerald B. Coleman</a>
<br clear="left"><br>

<img src="/images/commissioners/stewartSmall.jpg"  alt="JohnHTStewart" width="64" height="64"  />  <a href="/about/commissioners/stewart" title="John H. T. Stewart">John H. T. Stewart</a>
<br clear="left"><br>

<img src="/images/commissioners/washingtonSmall.jpg"  alt="MassaWashington" width="51" height="64"  />  <a href="/about/commissioners/washington" title="Massa Washington">Massa Washington </a>

</div>
