<% @title = "Audio" %>
<a href="/resources/audio/Role-of-Media-in-Liberia-Civil-War.mp3">The Carter Center - Role of Media in the Liberia Civil War</a>
<br>
This file (mp3) features a discussion at the Carter Center in Atlanta, Georgia on what role the media played during the civil war in Liberia.<br/>File size: 59.3mb
<br>

