<% @title = "TRC in the Media" %>

The following are activities of the Truth and Reconciliation Commissions of Liberia that have been covered by different sources of mass media.

<br /></br>

<a href="http://allafrica.com/stories/200707190498.html"> TRC Appoints Coordinators</a>

- The Inquirer (Monrovia) -  July 19, 2007 - The Truth and Reconciliation Commission (TRC) has inducted a team of coordinators to design appropriate strategies as it prepares to launch another round of its awareness campaign on July 26
<br /></br>

<a href="http://allafrica.com/stories/200707311060.html"> President Sirleaf Urges TRC to Identify Structural Flaws That Have Impeded Progress</a>
- Liberia Government (Monrovia) - July 31, 2007 - President Ellen Johnson Sirleaf says there is a need to identify those structural flaws that have impeded Liberia's progress over the years. According to an Executive Mansion release, the President was speaking on Tuesday during a visit to the offices of the Truth and Reconciliation Commission
<br /></br>

<a href="http://allafrica.com/stories/200708020581.html"> President Ellen Johnson-Sirleaf Urges Citizens to Engage TRC</a>
- The Inquirer (Monrovia)- August 2, 2007 - President Ellen Johnson-Sirleaf is challenging all Liberians to engage the Truth and Reconciliation Commission on the implementation of its mandate
<br /></br>

<a href="http://allafrica.com/stories/200708070947.html"> Civil Society Begins Outreach to Enhance TRC Work</a>
- The Inquirer (Monrovia) - August 7, 2007 - Over the last two weeks, the Liberia Civil Society, under the canopy of the Transitional Justice Working Group (TJWG), commenced outreach activities aimed at enhancing the work of the TRC. The exercise will last for six months 
<br /></br>

<a href="http://allafrica.com/stories/200708080482.html"> TRC Gathers Evidence from USA</a>
- The Inquirer (Monrovia) - August 8, 2007 - Several pages of information about the Liberian civil crisis and other related human rights violations in the country have been released as a result of a request made on behalf of the Truth and Reconciliation Commission of Liberia 
<br /></br>

<a href="http://allafrica.com/stories/200708170756.html"> TRC Begins Training of Stakeholders</a>

- The Inquirer (Monrovia) - August 17, 2007 -  In fulfillment of its mandate, the Truth and Reconciliation Commission (TRC) of Liberia in collaboration with its international partner, the Glencree Center for Reconciliation, is holding an intensive three-week training program for all stakeholders in the TRC process
