<% @title = "Final Report" %>


<a href="/resources/reports/final/volume-one_layout-1.pdf">Volume 1: Preliminary Findings and Determinations</a>
<br>
<br>
<a href="/resources/reports/final/volume-two_layout-1.pdf">Volume 2: Consolidated Final Report</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-1_layout-1.pdf">Volume 3 Appendices Title I: Women and the Conflict</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-2_layout-1.pdf">Volume 3 Appendices Title II: Children, the Conflict and the TRC Children Agenda</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-3_layout-1.pdf">Volume 3 Appendices Title III: Economics Crimes and the Conflict, Exploitation and Abuse</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-4_layout-1.pdf">Volume 3 Appendices Title IV: The Conflict, Religion and Tradition</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-5_layout-1.pdf">Volume 3 Appendices Title V: Short Term Technical Assistance to the Truth and Reconciliation Commission (TRC) of the Republic of Liberia for Conflict Mapping Project</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-6_layout-1.pdf">Volume 3 Appendices VI: Media and Outreach in the TRC Process</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-7_layout-1.pdf">Volume 3 Appendices VII: Executive Summary and Priority Recommendations: A House with Two Rooms: Final Report of the Truth and Reconciliation Commission of Liberia Diaspora Project</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-8_layout-1.pdf">Volume 3 Appendices VIII: Accounting for the "Less Fortunate" and their Psychosocial Needs</a>
<br>
<br>
<a href="/resources/reports/final/volume-three-12_layout-1.pdf">Volume 3 Appendices XII: Towards National Reconciliation and Dialogues: The Palava Hut or Peace Forums</a>
<br>
<br>
<h2>National Conference</h2>
<a href="/resources/reports/final/the-virginia-declaration.pdf">The Virginia Declaration</a>
<br>
<br>
<h2>Other</h2>
<a href="/resources/reports/final/descriptive-statistics-from-statements-to-the-liberian-trc-benetech.pdf">Descriptive Statistics from Statements to the Liberian TRC - Benetech</a>
<br>
<br>
<a href="http://www.theadvocatesforhumanrights.org/Final_Report.html">A House with Two Rooms: Final Report of the Truth and Reconciliation Commission of Liberia Diaspora Project - The Advocates for Human Rights</a>
<br>
<br>
<h2>Preliminary Final Reports Volume 1</h2>
<a href="/resources/reports/final/trc-final-report-volume-1-summary.pdf">Volume 1 Summary Report</a>
<br>
<br>
<a href="/resources/reports/final/trc-final-report-volume-1-full.pdf">Volume 1 Full Report</a>
<br>
<br>
<h2>Preliminary Final Reports Volume 2</h2>
<a href="/resources/reports/final/trc-of-liberia-final-report-volume-ii.pdf">Volume 2 Full Report</a>
<br>
<br>
<a href="/resources/reports/final/unedited-final-report-pages-1-100.pdf">Volume 2: Pages 1 - 100</a>
<br>
<br>
<a href="/resources/reports/final/unedited-final-report-pages-101-200.pdf">Volume 2: Pages 101 - 200</a>
<br>
<br>
<a href="/resources/reports/final/unedited-final-report-pages-201-300.pdf">Volume 2: Pages 201 - 300</a>
<br>
<br>
<a href="/resources/reports/final/unedited-final-report-pages-301-370.pdf">Volume 2: Pages 301 - 370</a>

