development:
  adapter: mysql
  database: trc_development
  username: trc
  password: xxxxxxxx
  host: 127.0.0.1

test:
  adapter: mysql
  database: trc_test
  username: trc
  password: xxxxxxxx
  host: 127.0.0.1

production:
  adapter: mysql
  database: trc_development
  username: trc
  password: xxxxxxxx
  host: 127.0.0.1
