<% @title = "About" %>

<ul>
	<li><a href="/about/safe-and-secure">Safe and Secure</a></li>
	<li><a href="/about/trc-mandate">TRC Mandate</a></li>
	<li><a href="/about/commissioners">Commissioners</a></li>
  <li><a href="/hearings">Hearings</a></li>
	<li><a href="/about/statement-taking">Statement Taking</a></li>
	<li><a href="/about/scholarly-resources">Scholarly Resources</a></li>
	<li><a href="/about/contact-us">Contact Us</a></li>
</ul>