
<img src="/images/trc/finalreport.jpg" class="image-left" height="160" width="210" style="float: left; margin-right: 10px">
		The Truth and Reconciliation Commission of Liberia (TRC) Tuesday presented its final report containing findings, determinations and recommendations made by the Commission to the National Legislature.
		<br>
		<br>
		The report contains major findings on: the root causes of the conflict, the impact of the conflict on women, children and the generality of the Liberian society; responsibility for the massive commission of Gross Human Rights Violations (GHRV), and violations of International Humanitarian Law (IHL), International Human Rights Law (IHRL) as well as Egregious Domestic Law Violations (EDLV).&nbsp;


		<ul>
		<li>
		<a href="/reports/final-report">
		TRC Final Report (Updated December 3, 2009)
		</a>
		</li>
		</ul>

		<br>

	
    <div id="navigation">
	
	</div>