<% @title = "News "%>
<ul>
	<li><a href="/press_releases">Press Releases</a></li>
	<li><a href="/news/fast-track">Fast Track (TRC Newsletter)</a></li>
	<li><a href="/news_items">TRC News</a></li>
	<li><a href="/news/trc-in-the-media/">TRC in the Media</a></li>
</ul>