<% @title = "Reports" %>
<ul>
	<li><a href="/reports/final-report">Final</a></li>
	<li><a href="/reports/quarterly-reports">Quarterly</a></li>
	<li><a href="/reports/semi-annual-reports">Semi-Annual</a></li>
	<li><a href="/reports/financial-reports">Financial</a></li>
</ul>