<% @title = "Server Error" %>
<% @crumb = nil %>
<div id="error_page">
  <p>Our server has encountered an error.</p>
  <p>The site administrators have been alerted and will tend to the error soon.</p>
  <p>Please excuse the inconvenience.</p>
</div>