<% @title = "Schedule of TRC Hearings" %>

Updated April 7th, 2008

<ul><li>February</li>
<ul><li>Harper, Maryland County</li><li>Barclayville, Grand Kru County</li><li>Fish Town, River Gee County</li></ul>

<li>March</li>
<ul><li>Zwedru, Grand Gedeh County</li><li>Greenville, Sinoe County</li></ul>
<li>April</li>
<ul><li>Cestos City, Rivercess County</li><li>Buchanan, Grand Bassa County</li></ul>
<ul><li>Voinjama, Lofa County</li><li>Bopolu City, Gbarpolu County</li><li>Tubmanburg, Bomi County</li></ul>

<li>May</li>

<ul><li>Robertsport, Grand Cape Mount County</li></ul>
<ul><li>Sanniqullie,Nimba County</li><li>Gbarnga, Bong County</li></ul>
<li>June</li>
<ul><li>Kakata, Margibi County</li><li>Diaspora Hearings - USA</li><li>Diaspora Hearings - Ghana</li></ul>
<li>July</li>
<ul><li>Monrovia, Centennial Pavilion - Individuals</li></ul>

<ul><li>Monrovia, Centennial Pavilion - Women</li></ul>

<ul><li>Monrovia, Centennial Pavilion - Children</li></ul>
<ul><li>Monrovia, Centennial Pavilion - Youth<br /></li></ul>
<ul><li>Monrovia, Montserrado, St. Peters Lutheran Church Massacre<br /></li></ul>
<li>August</li>
<ul><li>Monrovia, Centennial Pavilion - Contemporary History of the conflict<br /></li></ul>
<li>September</li>
<ul><li>Monrovia, Centennial Pavilion - Prosecution</li><li>Monrovia, Centennial Pavilion - Historical Review<br /></li><li>Monrovia, Centennial Pavilion - External Actors<br /></li><li>Monrovia, Centennial Pavilion - Economic Crimes<br /></li><li>Monrovia, Centennial Pavilion - Religious, Traditional, and Cultural dimensions of the conflict</li></ul>

<li>October<br /></li>
<ul>
<li>Monrovia, Centennial Pavilion - Education and Civil Service<br /></li><li>Monrovia, Centennial Pavilion - Judiciary and National Legislature<br /> </li><li>Monrovia, Centennial Pavilion - Student Movement and Labor Unions<br /> </li></ul>
<li>November</li>
<ul><li>National Conference on  Reconciliation<br /></li></ul>
</ul>

