<% @title = "US Hearings Schedule" %>

<p><b>TUESDAY, JUNE 10, 2008</b><br /><i><br />9:30 am-12:30 pm    Opening Ceremonies</i><br /><br />Liberian National Anthem<br />US National Anthem<br /><br />

Speeches<br /></p>

<blockquote>Chairman Jerome Verdier<br />Advocates Executive Director Robin Phillips<br />Ambassador Minor (invited)<br />Senator Amy Klobuchar (invited)<br />Hamline University Vice President Dan Lauritz<br /></blockquote>
<p><br />

Introduction to Liberian History  (Dr. Augustine Konneh)<br /><br />

Cultural Performance by Ambassador Juli Endee (invited) <br /><br /><i>12:30-2:00 pm        Break</i><br /><br /><i>1:00-1:30 pm        Press Conference</i><br /><br /><i>2:00-5:00 pm    Individual witness testimony </i><br />    1979-1980: Rice Riots and Military Coup Against President Tolbert<br />    <br /><b>

WEDNESDAY, JUNE 11, 2008</b><br /><br /><i>9:30 am-12:30 pm    Individual witness testimony</i><br />    Finish 1979-1980 Tolbert administration witnesses;  begin 1980-1990: People’s Redemption Council (PRC) and Civilian government under President Samuel K. Doe<br /><br /><i>12:30-2:00 pm        Break</i><br /><br /><i>2:00-5:00 pm    Individual witness testimony </i><br />1980-1990: People’s Redemption Council (PRC) and Civilian government under President Samuel K. Doe; early days of the NPFL insurgency<br /><br /><b>

THURSDAY, JUNE 12, 2008</b><br /><br /><i>9:30 am-12:30 pm    Individual witness testimony</i><br />1990-2003: Conflict and factional fighting; displacement and life in refugee camps<br /><br /><i>12:30-2:00 pm        Break</i><br /><br /><i>2:00-5:00 pm    Individual witness testimony </i><br />    1990-2003: Conflict and factional fighting; displacement and life in refugee camps<br /><br /><i>5:00-6:00 pm     Audience Discussion and Q&amp;A with Commissioners </i><br /><br /><br /><b>

FRIDAY, JUNE 13, 2008</b><br /><br /><i>9:30 am-12:30 pm    Individual witness testimony</i><br />    1990-2003: Conflict and factional fighting; displacement and life in refugee camps<br /><br /><i>12:30-2:00 pm        Break</i><br /><br /><i>2:00-5:00 pm    Diaspora organization testimony </i><br />    Experiences of the Liberian Diaspora<br /><br /><i>5:00-6:00 pm     Audience Discussion and Q&amp;A with Commissioners </i><br /><br /><b>SATURDAY, JUNE 14, 2008</b><br /><br /><i>9:30 am-12:30 pm    Diaspora organization testimony</i><br /><br /><i>12:30-2:00 pm        Break</i><br /><br /><i>1:00-1:30 pm    Press Conference</i><br /><br /><i>2:00-3:30 pm    Diaspora organization testimony </i><br /><br /><i>3:30-5:00 pm     Town Hall Meeting with TRC and <br />    Closing ceremonies</i><br /></p>

