
<% @title = "Cllr. Pearl Brown Bull " %> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy57387 = 'b&#117;ll42004' + '&#64;';
 addy57387 = addy57387 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text57387 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy57387 + '\'>' );
 document.write( addy_text57387 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span>  <p><img src="/images/commissioners/bullBig.jpg" alt="PearlBull" vspace="8" width="89" align="left" border="1" height="128" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><blockquote>Prior to her selection to serve as commissioner on the Truth and Reconciliation Commission of Liberia in January2006, counselor-at-Law, Pearl Brown Bull has been practicing Lawyer with the Bull Law Firm since January 7, 1982. she studies law a the Louis Arthur Grimes School of&nbsp; Law in Liberia and the University of Quinnipiac Law School, Connecticut, U.S.A, earring a Juries Doctorate&nbsp; (Law) degree. She obtained a Bachelor of Arts degree in political Science from the University of Liberia (1973) A legal drafter with more then a quarter century of experience in the peace building, woman and human Rights Advocacy and a renown Liberian Politician. Commissioner Bull has held many elected and presidential appointed high profile positions, serving in the public and private sectors in Liberia including on several Boards. Red Cross, YMCA, Renaissance Corporation Inc. FORUM.<br><br>Special Assistant to Mrs. Angie Brooks Randolph 1974. <br>Law clerk to Supreme Court of Liberia Associate Justice, George E. Henries, 1978-1979. country Vice President, International Federation of Female Lawyers,<br><br>Elected National Chairman, Women Wing, True Whig Party of Liberia, January 1980- April 12 1980, Elected Member from Montserrado county to the constitutional Advisory Assembly of Liberia (1983) (see 1986 Constitution). Member of the Interim National Assembly of Liberia , representing Montserrado County.(1984) Member of the public Procurement Steering Committee to draft&nbsp; the Act Creating the public Procurement and Concession Commission of Liberia. (2004-2005). Elected chairman, Civil Society committee to lobby the national Transitional Legislature for the enactment of An Act to Repeal the 1979 Act Creating the Liberian Commission of Human Rights and To Create the Independent National Committee on Human Rights of Liberia, to ensure said act was printed into Handbill (2005). Vice Chairman, Independent Committee of Expert for the selection of commissioners for the Independent National Human Rights Commission of Liberia, (Dec. 2005). Acting National Chairman Women Wing Unity Party of Liberia, 2005, Coordinator for the Movement for the Promotion of Ellen Johnson Sirleaf for President of Liberia (MOPED) (2005-2006) Member of the National Bar Association of Liberia for 27 years, and Association of&nbsp; Female Lawyers where she served on several Committees. President of Tropicana Travel Agency in Liberia until 1996 when she had to leave Liberia as a result of the 1996 Civil Crisis. While in the United States she worked as and Immigration Specialist assisting many Liberian to obtain temporary Protective Status, green card, asylum and regularization of their stay. Comm. Bull has traveled worldwide to conferences, seminars and spoken to Universities including Duke University, USA “Humanitarian Challenges at home and aboard focus Program.’ At Shaw University, USA , She taught Management and supervision in Law Enforcement&nbsp; Planning and Criminal Evidence. Commissioner Bull has received several national and International Honors and Recognition including “Who is in the world “ 1987 ed. Philip Jessup Moot Court competition&nbsp; Washington D.C. Female lawyer of&nbsp; the year (Liberia) 2007- 2008, Woman of the Year 2008(Liberia). Liberia Human Rights chapter(1994) TRC Representative on the 2006 Presidential&nbsp; commission to Investigate the Nimba Land dispute. In 2007 the Liberian senate Invited counselor Bull as a Constitutional Legal Expert to advise that Honorable body. Window of former chief Justice of Liberia, Justice James G. Bull. Commissioner Bull has four children and several adopted children&nbsp; under the ( ADOPT A STUDENT)<br>Humanitarian Program.<br></blockquote><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

