
<% @title = "Rev. Gerald B. Coleman " %> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy30337 = 'tr&#117;&#101;gbc' + '&#64;';
 addy30337 = addy30337 + 'h&#111;tm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 var addy_text30337 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy30337 + '\'>' );
 document.write( addy_text30337 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span>  <p><img src="/images/commissioners/colemanBig.jpg" alt="GeraldColeman" vspace="8" width="76" align="left" border="1" height="128" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>Ambassador Coleman is an electrical engineer and project manager by training, having completed a Master of Science in Electrical Engineering (M.S.E.E.) and post-graduate studies in Engineering Management at Northeastern University, MA, USA. Rev. Coleman is the spiritual elder and founding national missionary of the Unification Movement of Liberia and has worked with the mission for more than 25 years. In 1996, he was the Government of Liberia's Commissioned Ambassador and Special Envoy to the Far East. During this period, he worked for the peaceful transition of the Liberian National Transitional Government (LNTG III) to civilian government by facilitating several peace-building, scholarship and cultural-exchange programs for Liberian youth in addition to food-aid programs between Asia and Liberia. In 2000, Ambassador Coleman, along with several other prominent Liberians, launched the Inter-Religious &amp; International Federation for World Peace of Liberia (IIFWP-Liberia) as a national branch of an international peace-building NGO. The National Transitional Government of Liberia (NTGL) asked Ambassador Coleman to help facilitate the establishment of the current TRC, a process that culminated in June 2005 with the final passage of the TRC Act of Liberia. </p></blockquote>

