
<% @title = "Dede Dolopei, Vice Chairperson" %>
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy11288 = 'd&#97;pkd&#111;l&#111;p&#101;&#105;' + '&#64;';
 addy11288 = addy11288 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text11288 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy11288 + '\'>' );
 document.write( addy_text11288 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span> <p><img src="/images/commissioners/dolopeiBig.jpg" alt="DedeDolopei" vspace="8" width="85" align="left" border="1" height="128" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>Commissioner Dede Dolopei is a Liberian administrator, manager, social worker and peace activist. She is a graduate of the University of Liberia, holding a BBA in accounting with an emphasis in management, and is currently a Msc. candidate in regional planning. She has served as a member of the board of directors for NAWOCOL (the National Women's Commission of Liberia) and the Christian Foundation for Children and the Aging. Commissioner Dolopei has been instrumental to the promotion and protection of women's rights in Liberia, and she is well-known for her efforts and expertise in peace building, conflict resolution and psychosocial counseling. </p></blockquote>

