
<% @title = "Sheikh Kafumba F. Konneh " %>
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy46608 = 'kfk&#111;nn&#101;h' + '&#64;';
 addy46608 = addy46608 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text46608 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy46608 + '\'>' );
 document.write( addy_text46608 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span><br><p><img src="/images/commissioners/konnehBig.jpg" alt="KafumbaKonneh" vspace="8" width="77" align="left" border="1" height="128" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>&nbsp;</p><p>Commissioner Konneh is a Liberian Muslim Authority who has a long record of conflict resolution and peace building efforts throughout the major civil and military conflicts in Liberia. In addition to his theological (Al-Islamic) achievement, the Sheikh studied secular law through apprenticeship. He held several positions in the civil service, including Justice of the Peace, Associate Stipendiary Magistrate and County Commissioner in Nimba County, his birthplace. He has also served as Secretary-General and Managing Director of the Liberian Muslim Union in addition to serving as Secretary-General and National Chairman of the National Muslim Council of Liberia. </p></blockquote>

