
<% @title = "Bishop Arthur F. Kulah " %> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy32207 = '&#97;v&#105;k&#117;2002' + '&#64;';
 addy32207 = addy32207 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text32207 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy32207 + '\'>' );
 document.write( addy_text32207 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span>  <p><img src="/images/commissioners/kulahBig.jpg" alt="ArthurKulah" vspace="8" width="128" align="left" border="1" height="121" hspace="8"></p><p>&nbsp;</p><div align="left"><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>Retired Bishop Arthur F. Kulah is a well-known Methodist prelate who traveled Liberia throughout the war spreading hope to the people. He holds many degrees in theology and other disciplines from Cuttington University College, Bong County, Liberia; St. Paul Theology Seminary, Kansas City, USA; and Wesley Theological Seminary, Washington, DC, USA. Commissioner Kulah began serving as pastor of the United Methodist Church in Liberia in 1980 and held numerous prominent positions until his retirement 2000, including resident bishop of the Liberia Annual Conference. An educator, administrator and author, Bishop Kulah has served as dean of the Gbarnga School of Theology, and dean and Principal of the Theological College and Church Training Center in Freetown, Sierra Leone. He has written several books and articles, including <em>Liberia will Rise Again</em> and <em>Theological Education in Liberia: Problems and Opportunities</em>. In June 1990, Bishop Kulah and others organized a 60,000-person peace march that initiated the creation of an interfaith committee and helped build a foundation for the peace process in Liberia. </p></blockquote></div>

