
<% @title = "John H. T. Stewart " %> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy36268 = 'jhst&#101;w&#97;rt' + '&#64;';
 addy36268 = addy36268 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text36268 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy36268 + '\'>' );
 document.write( addy_text36268 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span>  <p><img src="/images/commissioners/stewartBig.jpg" alt="JohnHTStewart" vspace="8" width="87" align="left" border="1" height="88" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>John Stewart is a Liberian journalist, rights advocate and activist. He was educated at the University of Liberia and has held numerous positions including local consultant for the Media Foundation for West Africa; reporter for Channel Africa; Regional Coordinator for the Catholic Justice and Peace Commission; Information Assistant for the United Nations Population Fund (UNFPA) and National Assistant Field Security Advisor to the United Nations Development Program. Commissioner Stewart’s advocacy efforts have included work with the Citizens of Liberia Against Gambling (COLAG), Citizens of Liberia in Defense of Albert Porte (COLIDAP) and the Movement for Justice in Africa (MOJA). He has been an advocate for the past 30 years, a time period spanning the administrations of Presidents William R. Tolbert, Samuel K. Doe and Charles Taylor, and as a result of his efforts he has suffered imprisonment, physical torture and mental torture. As a journalist, he is well known for his acerbic writing and interviewing style and has served as Associate Editor of the New Democrat Weekly and presenter of the Radio Veritas Topical Issues program. </p></blockquote>

