
<% @title = "Oumu K. Syllah, Treasurer" %> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy18456 = '&#111;&#117;syl&#97;2002' + '&#64;';
 addy18456 = addy18456 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text18456 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy18456 + '\'>' );
 document.write( addy_text18456 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span>  <p><img src="/images/commissioners/syllahBig.jpg" alt="OumuSyllah" vspace="8" width="103" align="left" border="1" height="128" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>Commissioner Oumu K. Syllah is a trained registered nurse, HIV/AIDS counselor and social worker. She holds a Bachelor of Science degree in Nursing from Cuttington University College, Bong County, Liberia, and a certificate in nursing as a State Registered Nurse (SRN) from the National School of Nursing in Freetown, Sierra Leone. Commissioner Syllah has worked as a professional nurse and social worker in renowned hospitals, including Connaught Hospital in Freetown and St. Joseph Catholic Hospital in Monrovia. She has also acted as a trainer/facilitator and participant in numerous workshops in social work. </p>

