
<% @title = "Cllr. Jerome J Verdier, Sr, Chairman" %>


 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy83537 = '&#111;n&#101;l&#105;b&#101;r&#105;&#97;' + '&#64;';
 addy83537 = addy83537 + 'y&#97;h&#111;&#111;' + '&#46;' + 'c&#111;m';
 var addy_text83537 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy83537 + '\'>' );
 document.write( addy_text83537 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span><br>  <p><img src="/images/commissioners/verdierBig.jpg" alt="JeromeVerdier" vspace="8" width="105" align="left" border="1" height="128" hspace="8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>Cllr. Verdier was a leading human rights and civil society activist prior to his selection to serve on the TRC. He holds a Bachelors of Business Administration (BBA) Degree in Accounting and Economics (1988) from the University of Liberia and a Bachelors of Laws Degree (LLB) from its Louis Arthur Grimes School of Law. Apart from working both in the private and public sectors as Senior Accountant, Comptroller and Executive Director, he has been instrumental in strengthening civil society advocacy whilst serving in several capacities as Executive Director of Liberia Democracy Watch (LDW); Chairman of the Board of Directors of The National Human Rights Center of Liberia (NHRCL), a consortium of nine human rights and pro-democracy organizations; Board Chairperson of the Foundation For International Dignity (FIND); Senior Staff Attorney for the Association of Environmental Lawyers (Green Advocates); and the first Research &amp; Program Officer of the Catholic Justice &amp; Peace Commission (JPC). Cllr. Verdier is a practicing attorney, credited for rendering pro bono legal services to indigents, civil society activists and journalists, whilst also leading civil society adversarial legal teams in several successful lawsuits against the government of Liberia. </p></blockquote><p>&nbsp;</p>

