
<% @title = "Massa Washington " %> 
 <script language="JavaScript" type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy29231 = 'm&#97;ss&#97;' + '&#64;';
 addy29231 = addy29231 + 'drw&#101;s' + '&#46;' + '&#111;rg';
 var addy_text29231 = 'E-mail me';
 document.write( '<a ' + path + '\'' + prefix + ':' + addy29231 + '\'>' );
 document.write( addy_text29231 );
 document.write( '<\/a>' );
 //-->\n </script><script language="JavaScript" type="text/javascript">
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language="JavaScript" type="text/javascript">
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></span>  <p><img src="/images/commissioners/washingtonBig.jpg" alt="MassaWashington" vspace="8" width="102" align="left" border="1" height="128" hspace="8"></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><blockquote><p>Massa A. Washington is a journalist with more than 20 years of experience. She holds a B.A. in Mass Communication with an emphasis in print journalism from the University of Liberia and is currently a second-year graduate student with high honors at the Temple University School of Social Administration and Management, Pennslyvania, USA. She also obtained training in 1984 in broadcast journalism from the Voice of America (VOA) and the Liberian Broadcasting System (LBS). Her past positions have included Public Relations Officer of the Liberian National Red Cross Society, Senior Reporter for the Ministry of Information New Liberian Newspaper and News Editor for the Independent Inquirer. Ms. Washington has covered the Liberian crises extensively, reporting often from occupied territories and creating a column in the Inquirer dedicated to Liberian women. She is a women's rights and civil society activist and a member of the Liberian Women Initative (LWI), which has been at the vanguard of peace advocacy in Liberia. She has also represented the women of Liberia at peace conferences, such as both of the Accra Clarification Conferences and the Abuja Conference. Ms. Washington has also worked with Liberians in the Diaspora, having represented and given sworn testimonies for Liberians seeking legal status in the USA. She served as chairman of the Association of Liberian Journalists in the Americas (ALJA), Delaware Valley Chapter, representing the States of Pennslyvania, Delaware and New Jersey, and co-owned and published the Iwina Heritage Newspaper, targeting the African immigrant community in the United States. Ms. Washington's honors include Press Union Reporter of the Year Award, Inquirer Reporter of the Year Award 1994, the Association of Liberian Journalists in the Americas Appreciated Award in 2003, Liberian Community Association of Pennsylvania Award in 2003 and, in 2004, Special Recognition for distinquished leadership by the City of Philadelphia Welcoming Center for New Immigrants. Ms. Washington is also one of 16 Liberian peace activists featured in a recent UN book on peace building. </p></blockquote>

