<% @title = "Ghana Information" %>

The TRC of Liberia is the first TRC to be mandated to reach out to the diaspora of Liberia. To reach around the world to Liberians across the globe the TRC has partnered with the Minnesota Advocates for Human Rights. Click here to learn more about their activities in Ghana. 
<br>
<br>
<a href="/about/statement-taking">TRC Trains Statement Takers in Ghana</a>
<br>
<br>
<a href="/albums/6">Photos from the Statement Taker Training in Ghana</a>
<br>

