<% @title = "USA Information" %>

Information on the TRC's activities in the United States of America
<br>
<br>
The TRC of Liberia is working to collect statements from Liberians living in the U.S.A. To assist in this task the TRC has partnered with the <a href="http://www.mnadvocates.org/About_Liberia_and_the_TRC.html">Minnesota Advocates for Human Rights</a>.

